@model DSEDFinalProjectTripPlanner.Models.Trip

@{
    ViewData["Title"] = "Create";
    ViewData["Header"] = "Add a new Trip";
}

<div class="header">
    <h1 style="font-family:cursive; font-size:24px;">@ViewData["Header"]</h1>
    <p>Add a new trip by entering your destination city and country and your start and end dates.</p>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Trip Name <span class="required">*</span></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="DestinationCity" class="control-label">Destionation City <span class="required">*</span></label>
                    <input asp-for="DestinationCity" class="form-control" />
                    <span asp-validation-for="DestinationCity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="DestinationCountry" class="control-label">Destination Country <span class="required">*</span></label>
                    <input asp-for="DestinationCountry" class="form-control" />
                    <span asp-validation-for="DestinationCountry" class="text-danger"></span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label">Start Date <span class="required">*</span></label>
                    <input asp-for="StartDate" type="date" data-date-format="dd/mm/yyyy" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FinishDate" class="control-label">Finish Date <span class="required">*</span></label>
                    <input asp-for="FinishDate" type="date" data-date-format="dd/mm/yyyy" class="form-control" />
                    <span asp-validation-for="FinishDate" class="text-danger"></span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-info" />
                    <span class="required">* Required</span>
                </div>
            </div>





        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-warning">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
