@using DSEDFinalProjectTripPlanner.Database
@model DSEDFinalProjectTripPlanner.Models.Flight

@{
    ViewData["Title"] = "Create";
    ViewData["Header"] = "Add a new Flight";
}

<div class="header">
    <h1 style="font-family:cursive; font-size:24px;">@ViewData["Header"]</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" >
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ConfirmationNumber" class="control-label">Confirmation Number</label>
                    <input asp-for="ConfirmationNumber" class="form-control" />
                    <span asp-validation-for="ConfirmationNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Airline" class="control-label">Airline <span class="required">*</span></label>
                    <input asp-for="Airline" class="form-control" />
                    <span asp-validation-for="Airline" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FlightNumber" class="control-label">Flight # <span class="required">*</span></label>
                    <input asp-for="FlightNumber" class="form-control" />
                    <span asp-validation-for="FlightNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Seats" class="control-label"></label>
                    <input asp-for="Seats" class="form-control" />
                    <span asp-validation-for="Seats" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <label class="control-label">Departure</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="DepartureFrom" class="control-label">From (city or airport) <span class="required">*</span></label>
                    <input asp-for="DepartureFrom" class="form-control" />
                    <span asp-validation-for="DepartureFrom" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="DepartureTerminal" class="control-label">Terminal</label>
                    <input asp-for="DepartureTerminal" class="form-control" />
                    <span asp-validation-for="DepartureTerminal" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="DepartureGate" class="control-label">Gate</label>
                    <input asp-for="DepartureGate" class="form-control" />
                    <span asp-validation-for="DepartureGate" class="text-danger"></span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="DepartureDate" class="control-label">Departure Date <span class="required">*</span></label>
                    <input asp-for="DepartureDate" type="date" value="@DatabaseManager.TripStartDate" class="form-control" />
                    <span asp-validation-for="DepartureDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="DepartureTime" class="control-label">Departure Time <span class="required">*</span></label>
                    <input asp-for="DepartureTime" type="time" datetime="HH:ss" class="form-control" />
                    <span asp-validation-for="DepartureTime" class="text-danger"></span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-12">
                <label class="control-label">Arrival</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ArrivalTo" class="control-label">To (city or airport) <span class="required">*</span></label>
                    <input asp-for="ArrivalTo" class="form-control" />
                    <span asp-validation-for="ArrivalTo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ArrivalTerminal" class="control-label">Terminal</label>
                    <input asp-for="ArrivalTerminal" class="form-control" />
                    <span asp-validation-for="ArrivalTerminal" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ArrivalGate" class="control-label">Gate</label>
                    <input asp-for="ArrivalGate" class="form-control" />
                    <span asp-validation-for="ArrivalGate" class="text-danger"></span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ArrivalDate" class="control-label">Arrival Date <span class="required">*</span></label>
                    <input asp-for="ArrivalDate" type="date" class="form-control" />
                    <span asp-validation-for="ArrivalDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ArrivalTime" class="control-label">Arrival Time <span class="required">*</span></label>
                    <input asp-for="ArrivalTime" type="time" class="form-control" />
                    <span asp-validation-for="ArrivalTime" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @*id="hidden""*@
                    <label asp-for="TripId" class="control-label"></label>
                    <input asp-for="TripId" class="form-control" readonly="readonly" value="@DatabaseManager.TripId" />
                    <span asp-validation-for="TripId" class="text-danger"></span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <span class="required">* Required</span>
                </div>
            </div>




        </form>
    </div>

</div>

<div>
    <a asp-action="Index" class="btn btn-warning">Back </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
