@model DSEDFinalProjectTripPlanner.Models.Item

@{
    ViewData["Title"] = "Edit";
}

<h2 style="font-family:cursive; font-size:18px;">Edit Items Here</h2>

<h4 style="font-family:cursive; font-size:24px;">Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsChecked" /> @Html.DisplayNameFor(model => model.IsChecked)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TodoId" class="control-label"></label>
                <input asp-for="TodoId" class="form-control" />
                <span asp-validation-for="TodoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-warning">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
