@using DSEDFinalProjectTripPlanner.Database
@model DSEDFinalProjectTripPlanner.Models.ActivityTask

@{
    ViewData["Title"] = "Create";
    ViewData["Header"] = "Add a new Activity";
}

<div class="header">
    <h1 style="font-family:cursive; font-size:24px;">@ViewData["Header"]</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="btn btn-primary">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <label>What are you doing?</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TypeOfActivity" class="control-label">Type Of Activity</label>
                        <select asp-for="TypeOfActivity" asp-items="ViewBag.TypeOfActivityList" class="form-control">
                            <option>Please select one</option>
                            <option>Meeting</option>
                            <option>Tour</option>
                            <option>Concert</option>
                            <option>Other</option>
                        </select>
                        <span asp-validation-for="TypeOfActivity" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ConfirmationNumber" class="control-label">Confirmation #</label>
                        <input asp-for="ConfirmationNumber" class="form-control" />
                        <span asp-validation-for="ConfirmationNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="SupplierName" class="control-label">Supplier Name <span class="required">*</span></label>
                        <input asp-for="SupplierName" class="form-control" />
                        <span asp-validation-for="SupplierName" class="text-danger"></span>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="NumOfPeopleAttending" class="control-label"># Of People Attending</label>
                        <input asp-for="NumOfPeopleAttending" value="0" class="form-control" />
                        <span asp-validation-for="NumOfPeopleAttending" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-12">
                    <br />
                    <label>When is the activity?</label>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label>Start</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="StartDate" class="control-label">Date <span class="required">*</span></label>
                            <input asp-for="StartDate" type="date" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="StartTime" class="control-label">Time <span class="required">*</span></label>
                            <input asp-for="StartTime" type="time" class="form-control" />
                            <span asp-validation-for="StartTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label>End</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="EndDate" class="control-label">Date <span class="required">*</span></label>
                            <input asp-for="EndDate" type="date" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="EndTime" class="control-label">Time <span class="required">*</span></label>
                            <input asp-for="EndTime" type="time" class="form-control" />
                            <span asp-validation-for="EndTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-12">
                    <br />
                    <label>Where is the activity?</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label">Address <span class="required">*</span></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Suburb" class="control-label"></label>
                        <input asp-for="Suburb" class="form-control" />
                        <span asp-validation-for="Suburb" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="City" class="control-label">City <span class="required">*</span></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Region" class="control-label">Region <span class="required">*</span></label>
                        <input asp-for="Region" class="form-control" />
                        <span asp-validation-for="Region" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Postcode" class="control-label"></label>
                        <input asp-for="Postcode" class="form-control" />
                        <span asp-validation-for="Postcode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Country" class="control-label">Country <span class="required">*</span></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="TripId" class="control-label"></label>
                    <input asp-for="TripId" readonly="readonly" value="@DatabaseManager.TripId" class="form-control" />
                    <span asp-validation-for="TripId" class="text-danger"></span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <span class="required">* Required</span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-warning">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
